{
  "env": {
    "browser": true,
    "es2021": true
  },
  "ignorePatterns": "docs/*",
  "extends": [
    "react-app",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react", "react-hooks", "@typescript-eslint"],
  "rules": {
    "indent": ["off", 2, { "SwitchCase": 1 }],
    "linebreak-style": ["error", "unix"],
    "quotes": [
      "error",
      "single",
      { "avoidEscape": true, "allowTemplateLiterals": false }
    ],
    "semi": ["error", "never"],
    "no-tabs": ["error", { "allowIndentationTabs": true }],
    "react-hooks/rules-of-hooks": "warn", // 检查 Hook 的规则
    "react-hooks/exhaustive-deps": [
      "warn",
      {
        "additionalHooks": "useRecoilCallback",
        "enableDangerousAutofixThisMayCauseInfiniteLoops": true
      }
    ], // 检查 effect 的依赖
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/no-explicit-any": "off"
  }
}
