.rowBar {
  cursor: ew-resize;
  background: #a9d7e2;
  transition-property: background, width;
  transition-duration: 233ms;
  width: 4px;
}
.colBar {
  cursor: ns-resize;
  background: #a9d7e2;
  transition-property: background, height;
  transition-duration: 233ms;
  height: 4px;
}
.rowBar:hover {
  background: #7dd0db;
  height: 6px;
  width: 6px;
}
.colBar:hover {
  background: #7dd0db;
  height: 6px;
  width: 6px;
}
