.left-stretch-bar {
  cursor: ew-resize;
  background: #12171d;
  width: 4px;
  height: 4px;
  transition: 233ms;
  transition-property: background;
}
.left-stretch-bar:hover {
  background: #567091;
  height: 6px;
  width: 6px;
}
